.products-section{
    /* border: 1px solid black; */
    height: 100vh;
    background-color:antiquewhite;
}

.cards{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}
.card{
    border: 3px solid burlywood;
    height: 70%;
    border-radius: 10px;
}
#product-image{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    
}
.section-title{
    text-align: center;
    font-size: 4rem;
    color: brown;
}
.card h2 {
    text-align: center;
    font-size: 2.5rem;
    color: darkred;;
}
@media screen and (max-width: 440px) {
    .products-section {
        height: auto;
    }

    .cards {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        height: 100%; /* Set the height to 100% */
    }

    .card {
        border: 3px solid burlywood;
        width: 80%;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    #product-image {
        width: 100%;
        
    }

    .section-title {
        text-align: center;
        font-size: 4rem;
        color: brown;
        margin-bottom: 10px;
    }
}
